@charset "ISO-8859-1";

.LoginContainer {
    width: 30%;
    display: table;
    margin:auto;
    height: 50%;
    background-color: #fbfbfb;
    opacity: 0.8;
}

.Body {
    background: url("../Res/iron-man-stickers.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 15%;
}

.button-container{
    padding-top: 25px;
}

.container{
    display: table-cell;
    padding-top: 25px;
}

form {
    border: 3px solid #f1f1f1;
}

h2 {
    text-align: center;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
}

button:hover {
    opacity: 0.85;
}


span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}


